.App {
  text-align: center;
}


.header, .footer {
  background-color: #404E2C;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  color: white;
}

button {
  max-width: 150px;
  background-color: #ffffff;
  border-radius: 1%;
  color: #000000;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


@media screen and (min-width: 750px) {
  .header {
      grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 480px) {
  .footer {
      grid-template-columns: auto  auto;
  }
}


.App-link {
  color: #61dafb;
}

/*background-color: #282c34;*/